@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

d* { outline: red 1px solid; } 

body {
    background-color: #82DDB5;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header {
    text-align: center;
    margin-top: 40px;
}

#logo {
    width: 360px;
}

#description, #date {
    width: 220px;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}

#what {
    background-color: rgba(199,238,221,0.7);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 360px;
    color: #347788;
    line-height: 1.6em;
}

#what h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#what p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#what h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#what h1 + p {
    font-size: 1.4em;
    line-height: 1.4em;
}

#sponsor_logos img {
    word-spacing: 30px;
}

#sponsor_logos img {
    width: 300px;
    margin-right: 30px;
    
}

#why {
    background-color: #B6EAD3;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #347788;
    
}

#why h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#why p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #347788;
}

#why h1 + p {
    line-height: 1.4em;
}

#where {
    padding-top: 30px;
    padding-bottom: 200px;
    background-image: url('img/map.gif');
    background-position: center;
    color: #bb4488;
    
}

#where h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#where p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-weight: bold;
}

#when {
    background-image: url('img/wires.png');
    background-color: #439998;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-repeat: repeat-x;
    background-position: center
    
}

#when h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#when h2  {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    border-bottom: 2px dashed;
    padding-bottom: 30px;
}

#when h3 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#when h3 + ul {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px dashed;
    padding-bottom: 30px;
    padding: inherit;
}

#who {
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#who h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #347788;
    
}

#who p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #347788;
    text-align: center
}

#footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url(img/texture.jpg);
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#footer h1 {
    width: 50px;
    transform-origin: center;
    margin-bottom: -78px;
    margin-left: 700px;
    margin-right: auto;
}

#footer h2 {
    width: 50px;
    transform-origin: center;
    margin-left: auto;
    margin-right: auto;
}

#footer h3 {
    width: 50px;
    transform-origin: right;
    margin-top: -78px;
    margin-left: 830px;
}